*{
	margin: 0;
	padding: 0;
}
body {
	background-color:#272822;
	/*background-image: url("/blog/static/img/triangles.png");*/
	width:100%;
	font-family: 'Noto Sans', sans-serif;
	z-index:1;
}
body:before {
    content: " ";
    pointer-events:none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(34,34,34,0) 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(40%,rgba(34,34,34,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(34,34,34,0) 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(34,34,34,0) 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(34,34,34,0) 40%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(34,34,34,0) 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#00222222',GradientType=0 ); /* IE6-9 */
}
#modallayer,#modalwrapper,#modalbox {
	z-index: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#modallayer {
	width:100%;
	height:100%;
	content: " ";
	position: fixed;
	background-color: rgba(39, 40, 34, 0.0);
}
#modalbox {
	/*padding:20px;*/
	display: block;
	opacity:0;
}
@-moz-document url-prefix() {
	.dialogue #modallayer {
		background-color: rgba(39, 40, 34, 0.8);
	}
}
.dialogue #modallayer #modalbox {
	opacity:1;
	z-index:100;
}
.dialogue #modallayer { z-index:99; }
.dialogue #modalwrapper {
	-webkit-filter: blur(5px) grayscale(40%);
}
h1, h2{
	font-family: 'Noto Sans', sans-serif;
	color: #ccc;
}
h1, h2{
	color: #ccc;
	-webkit-transition: background 150ms ease;
	-moz-transition: background 150ms ease;
    -ms-transition: background 150ms ease;
    -o-transition: background 150ms ease;
	transition: background 150ms ease;
}
h1 a:hover, h2:hover {
	background-color: #333;
}
h2 {
	padding: 20px;
}
a{
	text-decoration: none;
	font-weight: 600;
	color: #04ACEC;
}
a:hover{
	
}
p, q{
	color: #ccc;
	padding:0 0 20px 0;
	line-height: 20px;
	font-weight: 300;
}
q {
	font-size: 18px;
	font-style: italic;
}
blockquote {
	padding: 20px 0 20px 0;
	overflow: hidden; /* clearfix alternative */
	font-size: 18px;
	line-height: 150%;
	color: #454545;
}
blockquote:before {
	font-family: arial;
	display: block;
	float: left;
	margin: 10px 15px 0 0;
	font-size: 100px;
	content: open-quote;
	color: #bababa;
}
blockquote:after {
	content: none;
}
blockquote cite {
	float:right;
	font-size: 15px;
	display: block;
	color:black;
}

label {
	display: block;
	color: white;
	font-size: 14px;
	padding-left: 4px;
	float: left;
}
input {
	float: left;
	-webkit-border-radius: 8px;
    border-radius: 8px;
	font-size: 17px;
	width:170px;
	outline: none;
	border:none;
	padding: 6px 0 6px 10px;
}
input, button{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
input:focus, button:focus, button:hover {
	-webkit-box-shadow:  0px 0px 15px 2px rgba(4, 172, 236, 0.7);
    box-shadow:  0px 0px 15px 2px rgba(4, 172, 236, 0.7);
}
#github{
	background-position: 0;
}
#slider {

}
header {
	height: 100px;
}
header h1 {
	line-height: 170px;
	color: white;
}
#rightcont {
	position:fixed;
	z-index:1;
	right:0px;
	width:40%;
	height:100%;
	background-image: url("/blog/static/img/backgroundright.gif");
	background-position: right top;
	background-repeat:no-repeat;
}
#leftcont {
	position:relative;
	z-index:1;
	width:60%;
}

#postcont {
	position:relative;
	float:right;
	z-index: 4;
	width:60%;
	min-width:500px;
	max-width:650px;
	top:30px;
	/*left:50%;*/
	/* Top, right, bottom, left*/
	margin:0 50px 0 50px;
}
#rightmenu {
	/*position: fixed;*/
	z-index: 4;
	width: 400px;
	top: 30px;
	background-color: rgba(39, 40, 34, 0.8);
	/*background-image: url("/blog/static/img/backgroundleft.jpg");*/
	margin: 0 0 0 0;
}
article{
	margin: 0 0 40px 0;
	background-color: #1b1c18;
	padding: 0;
}
article .meta{
	position:absolute;
	color:#fe9c34;
	margin-left:-100px;
	width:75px;
	text-align: center;
}
article.media {
	padding: 0;
}
article p, article h2{
	padding: 20px;
	margin: 0;
}
article h2 { border-left:10px solid #7c7a66 } /* Gray */
.code h2{ border-left:10px solid #fc2d74 }          /* Pink */
.update h2{ border-left:10px solid #a9e840 }       /* Green */
.media h2{ border-left:10px solid #5ec5e5 }  /* Blue */
.article h2{ border-left:10px solid #af8aff } /* Violet */
.media iframe, img {
	padding:0;
	margin:0 auto;
	display: block;
	width:100%;
}
.leftlink {
	width: 30px;
	height:30px;
	background-color: green;
}
.spinner {
	position: absolute;
}
#search{
	height:35px;
	margin: 55px 0 10px 0;
}
#search #field {
	width:125px;
	-webkit-border-radius: 30px 0px 0px 30px;
    border-radius: 30px 0px 0px 30px;
    padding: 6px 0 6px 15px;
    }
#search #field:focus {
	width: 350px;

}
#search .submit {
	display: block;
	background-color: 0;
	outline: none;
	border: none;
	height:32px;
	width:50px;
	-webkit-border-radius: 0px 30px 30px 0px;
    border-radius: 0px 30px 30px 0px;
	margin:0;
	padding:0;
}
#login {
	display: block;
	height:55px;
	margin: 10px 0 10px 0;
}
#login div#name {
	float: left;
}
#login div#pass {
	float:right;
}
#login div#indicator {
	position: absolute;
	left: 50%;
	margin: 15px 0 0 -20px;
	height: 40px;
	width: 40px;
}
#meta-info {
	margin: 0 0 10px 0;
}
#meta-info div span{
	font-weight: 600;
}
#meta-info div.box {
	float:left;
	width:180px;
}

footer{
	text-align: center;
	color: white;
	margin: 40px;
}
.clean {
	clear:both;
}